.container-about {
  background-color: #212529;
  background-image: url("./asset/Batik 3.png");
  background-position: bottom right;
  background-size: 30rem;
  background-repeat: no-repeat;
}
.about-title {
  padding-top: 5rem;
  color: white;
}

.content1 {
  font-family: "Satisfy", cursive;
  font-size: 64px;
}

.content2 {
  text-align: justify;
}
